footer {
    background: #111111;
    color: #707070;
    border-top: 1px solid #009deb;
    padding: 6rem 0 0;
    font-size: 18px;

    .container {
        padding: 2rem;
    }

    h2 {
        font-weight: 500;
        margin-bottom: 20px;
        color: #fff;
    }
    ul {
        li {
            padding: 10px;
            margin: 5px 0;
        }
    }
    a {
        color: #707070;
    }

    .footer-col-1 {
        .footer-logo {
            width: 100%;
            text-align: left;
            img {
                max-width: 10rem;
            }
        }
        .description {
            max-width: 350px;
            margin: 20px auto 20px 0;
            font-size: 18px;
        }
    }
    .contact {
        td {
            padding: 5px 0;
            text-align: start;

            &:first-child {
                width: 15%;
            }
            img {
                max-width: 20px;
            }
        }
    }
    .schedules {
        table {
            table-layout: auto;
            width: 100%;
            border-collapse: collapse;
            tbody {
                tr {
                    td {
                        padding: 5px 0;

                        &:first-child {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .newsletter {
        p {
            font-size: 18px;
        }
        .socialIcons {
            // display: flex;
            // align-items: center;
            // justify-content: flex-start;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
            gap: 2px;
            .icon {
                width: fit-content;
                padding: 0px 10px;
                border: 2px solid #aaa8a8;
                margin-top: 5px;
                text-align: center;
                transition-duration: 0.3s;
                height: 3rem;
                display: flex;
                align-items: center;
                justify-content: center;

                // &:nth-child(2) {
                //     padding: 8px 8px 2px;
                //     img {
                //         padding-top: 8px;
                //     }
                // }
                &:hover {
                    border-color: transparent;
                    svg {
                        -webkit-filter: drop-shadow(6px 4px 2px #111111);
                        filter: drop-shadow(6px 4px 2px #111111);
                        transform: scale(1.5);
                        transition-duration: 0.3s;
                        animation: slide-in-top .6s both;

                        path {
                            fill: #fff;
                        }
                    }
                }
                @keyframes slide-in-top {
                    0% {
                        transform: translateY(-20px);
                        opacity: 0;
                    }

                    100% {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
                /* instagram*/
                &.instagram:hover {
                    background-color: #d62976;
                    transition-duration: 0.3s;
                }
                /* twitter*/
                &.x:hover {
                    background-color: #00acee;
                    transition-duration: 0.3s;
                }
                /* fb*/
                &.fb:hover {
                    background-color: #316ff6;
                    transition-duration: 0.3s;
                }
                &.thread:hover {
                    background-color: #333333;
                    transition-duration: 0.3s;
                }
            }
        }
    }
    .container-fluid {
        padding: 0;
        margin: 0;
    }
    .slider-column {
        padding: 0;
        .slick-slider {
            img {
                height: 250px !important;
            }
        }
    }
    .copyright {
        padding: 20px 0;
        color: #fff;

        a {
            color: #fff;
            cursor: pointer;
        }
    }
}

// ********************Footer Responsive********************************
@media screen and (max-width: 1499px) {
}
@media screen and (max-width: 1199px) {
    footer {
        .footer-col-1 {
            .footer-logo {
                text-align: left;
            }
            .contact td {
                font-size: 15px;
            }
            .description {
                font-size: 15px;
                text-align: left;
            }
            .footer-logo img {
                max-width: 9rem;
            }
        }
        ul li {
            font-size: 15px;
            padding: 10px 0;
        }
        .container {
            .row {
                row-gap: 1rem;
            }
            .schedules {
                td {
                    font-size: 15px;
                }
            }
            .newsletter {
                p {
                    font-size: 13px;
                }
            }
        }
        .container-fluid {
            margin-top: 2rem;
        }
        .copyright {
            padding: 10px 0;
        }
    }
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
    footer {
        .footer-col-1 .footer-logo, .footer-col-1 .description {
            text-align: center !important;
        }
        .links,
        .schedules {
            text-align: left;
        }
        .newsletter {
            .socialIcons {
                justify-items: center;
            }
        } 
    }
}
