footer {
    background: #111111;
    color: #fff;
    border-top: 1px solid #009deb;
    padding: 6rem 0 0;

    h1 {
        font-weight: 500;
        margin-bottom: 20px;
    }
    ul {
        li {
            padding: 10px;
            margin: 5px 0;
        }
    }

    .footer-col-1 {
        .footer-logo {
            width: 100%;
            text-align: center;
            img {
                max-width: 10rem;
            }
        }
        .description {
            max-width: 350px;
            margin: 20px auto;
        }
        .contact {
            td {
                padding: 5px 0;
                text-align: start;

                &:first-child {
                    width: 15%;
                }
                img {
                    max-width: 20px;
                }
            }
        }
    }
    .schedules {
        table {
            table-layout: auto;
            width: 100%;
            border-collapse: collapse;
            tbody {
                tr {
                    td {
                        padding: 5px 0;

                        &:first-child {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .subscription {
        position: relative;

        input {
            background: transparent;
            color: #fff;
            padding: 10px;
            margin: 20px 0;
            width: 100%;
            border: 1px solid;
            border-image-slice: 1;
            border-width: 1px;
            border-image-source: linear-gradient(90deg, #ea1e7a 25.82%, #009deb 82.84%);;
        }
        button {
            position: absolute;
            padding: 10px;
            background: linear-gradient(50deg,  #ea1e7a 5.84%, #009deb 98.82%);
            top: 20px;
            right: 0;
            width: 3rem;
            height: 2.35rem;
            border: none;
            cursor: pointer;

            &::before {
                content: '';
                background: url(/public/svg/darkArrow.svg) no-repeat center;
                width: 20px;
                height: 30px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

            }
        }
    }
    .newsletter {
        .socialIcons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .icon {
                width: fit-content;
                padding: 8px 8px 2px;
                border: 2px solid #aaa8a8;
                margin: 5px;
                text-align: center;

                img {
                    width: 25px;
                }
            }
        }
    }
    .slider-column {
        padding: 0;
        .slick-slider {
            img {
                height: 200px !important;
            }
        }

    }
    .copyright {
        padding: 20px 0;
    }
}
