footer {
    background: #111111;
    color: #707070;
    border-top: 1px solid #009deb;
    padding: 6rem 0 0;

    h2 {
        font-weight: 500;
        margin-bottom: 20px;
        color: #fff;
    }
    ul {
        li {
            padding: 10px;
            margin: 5px 0;
        }
    }

    .footer-col-1 {
        .footer-logo {
            width: 100%;
            text-align: center;
            img {
                max-width: 10rem;
            }
        }
        .description {
            max-width: 350px;
            margin: 20px auto;
        }
        .contact {
            td {
                padding: 5px 0;
                text-align: start;

                &:first-child {
                    width: 15%;
                }
                img {
                    max-width: 20px;
                }
            }
        }
    }
    .schedules {
        table {
            table-layout: auto;
            width: 100%;
            border-collapse: collapse;
            tbody {
                tr {
                    td {
                        padding: 5px 0;

                        &:first-child {
                            width: 50%;
                        }
                    }
                }
            }
        }
    }
    .newsletter {
        form {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            margin: 10px 0px 15px;
            padding: 0px;
            position: relative;

            .email {    
                color: #555;
                text-align: center;
                width: calc(100% - 35px);
                background-color: transparent;
                line-height: 1.5em;
                border: 1px solid #ccc;
                border-right: 0;
                padding: 8px 10px;
                font-size: 12px;
                text-align: left !important;
                outline: none;
                outline-width: 0px;
                box-shadow: none;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                border-image-slice: 1;
                border-width: 1px;
                border-image-source: linear-gradient(90deg, #ea1e7a 25.82%, #009deb 82.84%);
            }
            button {
                background: linear-gradient(50deg,  #ea1e7a 5.84%, #009deb 98.82%);
                min-width: 55px;
                height: 36px;
                right: 0;
                border: none;
                box-shadow: none;
                vertical-align: top;
                cursor: pointer;
                transition: all .3s ease;

                &::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin: 0px;
                    background: url(/public/svg/darkArrow.svg) no-repeat center;
                    vertical-align: -3px;
                    transition: all .5s ease;
                }
            }
        }
        .socialIcons {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .icon {
                width: fit-content;
                padding: 8px 8px 2px;
                border: 2px solid #aaa8a8;
                margin: 5px;
                text-align: center;

                img {
                    width: 25px;
                }
            }
        }
    }
    .container-fluid {
        padding: 0;
        margin: 0;
    }
    .slider-column {
        padding: 0;
        .slick-slider {
            img {
                height: 200px !important;
            }
        }
    }
    .copyright {
        padding: 20px 0;
        color: #fff;
    }
}

// ********************Footer Responsive********************************
@media screen and (max-width: 1499px) {
}
@media screen and (max-width: 1199px) {
    footer {
        .footer-col-1 {
            .contact td {
                font-size: 13px;
            }
            .description {
                font-size: 13px;
            }
            .footer-logo img {
                max-width: 9rem;
            }
            ul li {
                font-size: 13px;
            }
        }
        .container {
            .row {
                row-gap: 1rem;
            }
            .schedules {
                td {
                    font-size: 13px;
                }
            }
            .newsletter {
                p {
                    font-size: 13px;
                }
            }
        }
        .container-fluid {
            margin-top: 2rem;
        }
        .copyright {
            padding: 10px 0;
        }
    }
}
@media screen and (max-width: 1023px) {
}
@media screen and (max-width: 767px) {
}
