.services {
    .section {
        padding: 8rem 0 0;
    }
    .section-banner {
        background: url(/images/services-banner.png) no-repeat center;
        background-size: cover;

        &::before {
            background: linear-gradient(360deg, rgb(17, 17, 17) 0%, rgba(26, 26, 26, 0.2890406162) 60%);
        }
        .abt-banner-left {
            span:before {
                right: 56%;
            }
        }
    }
    .section2 {
        h3 {
            text-align: left;
            background: linear-gradient(90deg, #009deb 5.82%, #ea1e7a 11.84%);
            font-weight: 100;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .sec2-main-heading {
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: #009deb;
                text-transform: capitalize;
            }
        }
        .grad-stroke-font {
            margin: 10px 0;
            .gradient-text {
                white-space: nowrap;
            }
        }
        .services-flex-group {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 20px 0 0;

            .service-item-img {
                img {
                    height: 100%;
                }
            }
            .service-item {
                background-color: #323131;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;
                text-align: left;
                padding: 20px;
                font-size: 20px;

                h4 {
                    font-weight: 100;
                    background: linear-gradient(90deg, #009deb 9.82%, #ea1e7a 30.84%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                h2 {
                    font-weight: 400;
                }

                p {
                    font-size: 15px;
                    color: #979797;
                }
                button {
                    text-transform: uppercase;
                    background: transparent;
                    border: none;
                    border-bottom: 1px solid #fff;
                    color: #fff;
                }
            }
        }
    }
    .section3 {
        .sec2-main-heading {
            position: relative;
            h3.gradient-text {
                font-weight: 100;
            }
            .gradient-text {
                background: linear-gradient(267.18deg, #EA1E7A 48.96%, #009DEB 55.25%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                white-space: normal;
            }

            .gradient-button {
                position: absolute;
                right: 0;
                top: 30px;
                width: 160px;
                padding: 10px;
                border-width: 0.5px;

                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 12px;
                    font-weight: 100;
                    white-space: nowrap;
                    color: #009DEB;
                    img {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    }
    .section4 {
        .sec4-left-column {
            .gradient-text {
                white-space: nowrap;
            }
            .grad-stroke-font {
                margin: 0 auto;
            }
        }
    }
    .section5 {
        background: #111111;
        padding-bottom: 8rem;
        span.gradient-text {
            background: linear-gradient(90deg, #009deb 40.82%, #ea1e7a 87.84%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .gradient-text {
            background: linear-gradient(90deg, #009deb 40.82%, #ea1e7a 62.84%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .timetable-container {
            margin: 3rem 0 20px;
        }
        table.timetable {
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 80%;
            margin: 0 auto;
            table-layout: fixed;

            .time-header {
                font-size: 16px;
                font-weight: bold;
                width: 10rem;
                background-color: #323131;
            }
            
            tr {
              padding: .35em;
            }
            tr.first-onlin {
                border-top: 2px solid #fff;
            }            
            th,
            td {
                padding: .825em;
                text-align: center;
                font-size: 17px;
                background-color: #323131;
                border: 1px solid rgb(116 116 116);
            }
            .dark-shade {
                background-color: #000;
                color: #fff;
            }
            
            th {
              font-size: 17px;
              letter-spacing: .1em;
              text-transform: uppercase;
              font-weight: 400;
            }
            .time {
                font-weight: 500;
            }
            .time, th {
                background-color: #009deb;
            }
          }
    }
}
