.testmonial {
    padding-bottom: 10rem;
    .test-img {
        display: flex;
        align-items: center;
    }
    .sec2-img-bc {
        left: 0%;
        img {
            height: 30rem;
            // max-height: 30rem;
            min-width: 25rem;
        }
    }
    .gradient-text {
        background: linear-gradient(90deg, #009deb 15.8%, #ea1e7a 65.84%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        white-space: nowrap;
    }
    .feedback {
        text-align: center;
        margin: 5rem auto;

        p {
            max-width: 90%;
            margin: 0 auto;
        }
        span {
            color: #009deb;
        }
        h3 {
            margin: 3rem 0;
        }
    }
    .slick-slider {
        .slick-prev,
        .slick-next {
            position: absolute;
            z-index: 99;
            &::before {
                content: "";
                display: block;
                background: url(/public/svg/Arrow.svg) no-repeat center;
                width: 30px;
                height: 30px;
            }
            &::after {
                content: "";
                display: block;
                width: 3px;
                height: 3rem;
                background: #009deb;
                position: absolute;
                top: -8px;
                left: -10px;
            }
        }
        .slick-arrow {
            top: 5%;
        }
        .slick-prev {
            right: 3rem;
            left: auto;
        }
        .slick-next {
            right: 6rem;
            &::before {
                transform: rotate(180deg);
            }
            &:after {
                display: none;
            }
        }
    }
}